target/
out/
log/
.idea/
modules/
src/test/
tickets.json
profiles/
profiles copy/
config/config.json
config/exclusiveBackgrounds.json
/twitter4j.properties
/kekbot.iml
KekBot/bin/
KekBot/obj/
.vs/
/resources/profile/background/test.png
/resources/profile/background/SHROOMTOONS.png
/resources/profile/background/ODDITY.jpg
/resources/profile/background/MR314.png
/resources/profile/background/MARIO_GALAXY.png
/resources/profile/background/EEVEE_PRISM.jpg
/resources/profile/background/DMAN&JAZ.png
/resources/profile/background/DDLC_TANK.jpg
/resources/profile/background/CODE_RAIN.png
/resources/profile/background/BOTW.png
/resources/profile/background/ADVENTURE_TIME.png
