target/
out/
log/
.idea/
modules/
src/test/
tickets.json
profiles/
profiles copy/
KekBot/Resource/Config/config.json
KekBot/Resource/Config/exclusiveBackgrounds.json
/twitter4j.properties
/kekbot.iml
KekBot/bin/
KekBot/obj/
.vs/
KekBot/Resource/Files/profile/background/test.png
KekBot/Resource/Files/profile/background/SHROOMTOONS.png
KekBot/Resource/Files/profile/background/ODDITY.jpg
KekBot/Resource/Files/profile/background/MR314.png
KekBot/Resource/Files/profile/background/MARIO_GALAXY.png
KekBot/Resource/Files/profile/background/EEVEE_PRISM.jpg
KekBot/Resource/Files/profile/background/DMAN&JAZ.png
KekBot/Resource/Files/profile/background/DDLC_TANK.jpg
KekBot/Resource/Files/profile/background/CODE_RAIN.png
KekBot/Resource/Files/profile/background/BOTW.png
KekBot/Resource/Files/profile/background/ADVENTURE_TIME.png
